@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'GloriaHallelujah';
    src: url('../../public/fonts/GloriaHallelujah-Regular.ttf')
   }
  
  /* In your css file where you want to use the font */
  html { 
   font-family: 'GloriaHallelujah' !important;
   color: white;
  }